.chat-main

  .chat-main-header
    .header-leftcontents
      .current-group
        TECH::EXPERT
      %ul.member-list
        Member :
        %li.list
          Shun
        %li.list
          Osikawa
        %li.list
          Watanabe
        %li.list
          Kawamura
    .edit-btn
      = link_to "#", class: "Edit" do
        Edit

  .chat-main-messages
    .messages-box
      .post-contents
        .poster
          = messages.user.name
        .post-date
          = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .messages
        勉強中です！

  .chat-main-form
    .input-form
      = form_for [@group, @message] do |f|
        = f.text_field :body, class: "input-text", placeholder: "type a message"
        .attached-file
          = f.label :image do
            = icon('fas', 'image')
            = f.file_field :image, class: "image"
        = f.submit "Send", class: "submit-btn"
      